.dashboard__head {
  color: darkblue;
  margin-bottom: 20px;
}

.dashboard__text {
  margin-bottom: 2px;
  padding-bottom: 0px;
}

.dashboard {
  color: white;
  font-weight: 500;
  margin: 20% 10%;
  justify-content: space-evenly;
}

.dashboard > h4 {
  margin-bottom: 20px;
}

@media all and (min-width: 480px) {
  .dashboard {
    padding: 60px 0;
    margin: 0 20%;
  }
}
